#system-dependent shortcuts to launch geth/mongo
geth.sh
mongo.sh
script/

#project files
node_modules/
log.txt
data/
c++/build/
c++/test*
debug/*
paper/project/
paper_acm/*
temp.py

todo.txt
results/*
*model.png
debug.txt
materials/*
readme.pdf
debug*.txt

!materials/distributions/
materials/distributions/*.mp4

#IDE and Python files
.vscode/
.node-xmlhttprequest-sync-*
json
os
pickle
sys
time
pd
__pycache__/
.cache/
