#system-dependent shortcuts to launch geth/mongo
geth.sh
mongo.sh
script/

#project files
node_modules/
log.txt
data/
c++/build/
c++/test*
debug/*
paper/*
temp.py

.vscode/
.node-xmlhttprequest-sync-*
json
os
pickle
sys
time
pd
__pycache__/
.cache/

#others
todo.txt
results/*
*model.png
debug.txt
materials/
*paper.pdf
readme.pdf
debug*.txt
