[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
naked = "*"
pytest = "*"
regex = "*"
matplotlib = "*"
keras = "*"
sklearn = "*"
blist = "*"
arctic = {git = "https://github.com/manahl/arctic.git", editable = true}
pandas = "*"
pillow = "*"
tensorflow-gpu = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.6"
